.ginko-web-reset-storage-modal {
    padding: 1rem;
}

.ginko-web-reset-storage-modal h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.ginko-web-reset-storage-modal .storage-list {
    margin-bottom: 1rem;
    max-height: 400px;
    overflow-y: auto;
}

.ginko-web-reset-storage-modal .setting-item {
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.ginko-web-reset-storage-modal .setting-item:hover {
    background-color: var(--background-modifier-hover);
}

.ginko-web-reset-storage-modal .setting-item-description {
    font-family: var(--font-monospace);
    font-size: 0.8em;
    word-break: break-all;
}
